<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>A Project by Bryce Randolph</p>
    <br/><br/>

    <p><span style="font-weight:bold">Users</span></p>

    <a href="/user/all">View All Users</a>
    <br/><a href="/user/add">Add User to Database</a>
    <br/><br/>

    <p><span style="font-weight:bold">Songs</span></p>

    <a href="/song/all">View All Songs</a>
    Sort by (
    <a href="/song/titlesort">Title</a>
,
    <a href="/song/artistsort">Artist</a>
,
    <a href="/song/albumsort">Album</a>
)<br/><a href="/song/singles">View Singles Only</a>
    <br/><a href="/song/add">Add Song to Database</a>
    <br/><br/>
    <p><span style="font-weight:bold">Playlists</span></p>
    <a href="/playlist/all">View All Playlists</a>
    <br/><a href="/playlist/add">Add Playlist to Database</a><br/><br/>

    <p><span style="font-weight:bold">SQL Queries</span></p>
   1.) <a href="/query/query1">Correlated Subquery</a><br/><br/>
    2.) <a href="/query/query2">Subquery in a JOIN</a><br/><br/>
    3.) <a href="/query/query3">Subquery with IN</a><br/><br/>
    4.) <a href="/query/query4">Subquery with NOT EXISTS</a><br/><br/>
    5.) <a href="/query/query5">Query that compares Outer to Inner Query</a><br/><br/>
    6.) <a href="/query/query6">Query using GROUP BY</a><br/><br/>
    7.) <a href="/query/query7">Query using JOIN, GROUP BY, Having, and COUNT </a><br/><br/>

    8.) Query using ORDER BY (
    <a href="/song/titlesort">Title</a>
    ,
    <a href="/song/artistsort">Artist</a>
    ,
    <a href="/song/albumsort">Album</a>)<br/><br/>
    9.) <a href="/query/query9">Query using UNION ALL</a><br/><br/>
    10.) <a href="/query/query10">Query using DISTINCT</a><br/><br/>






  </body>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</html>
