<!DOCTYPE html>
<html>
<head>
    <title>Add User</title>
</head>
<body>
<h1>Add New User</h1>
<form action="/user/insert" method="get">

    <span style="font-weight:bold">Username:</span> <br /><input name="user_name" type="text" />
    <br /><br />
    <span style="font-weight:bold">Password:</span> <br /><input name="password" type="text" />
    <br /><br />

    <input type="submit" />

</form>
<br/><br/><a href="/user/all">Return to All Users</a>
<link rel='stylesheet' href='/stylesheets/style.css' />
</body>
</html>