<!DOCTYPE html>
<html>
<head>
    <title>User - Edit</title>
</head>
<body>
<h1>Edit Users</h1>
<form action="/user/update" method="get">

    <input type="hidden"
           id="user_id"
           name="user_id"
           value="<%= users.user_id %>"
    />
    <span style="font-weight:bold">Username:</span><br /><input
            id="user_name"
            name="user_name"
            type="text"
            value="<%= users.user_name%>"
    />
    </br><br />
    <span style="font-weight:bold">Password:</span><br /><input
            id="password"
            name="password"
            type="text"
            value="<%= users.password%>"
    />
    <br /><br />
    <input type="submit" />

</form>
<br/><br/><a href="/user/all">Return to All users</a>
<link rel='stylesheet' href='/stylesheets/style.css' />
</body>

</html>