<!DOCTYPE html>
<html>
<head>
    <title> View all playlists</title>

</head>
<body>
<h1>All Playlists</h1>
<a href="/playlist/add">Add New Playlist</a>
<br/>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    <% for(var i = 0; i <playlists.length;i++){%>
    <tr>
        <td align = 'center'><%= playlists[i].playlist_id %></td>
        <td ><%= playlists[i].name %></td>
        <td align = 'center'>
            <a href='/playlist/edit/?playlist_id=<%= playlists[i].playlist_id%>'>
                Edit
            </a>
        </td>
    </tr>
    <% } %>
</table>
<br/><a href="/">Return to Homepage</a>
<link rel='stylesheet' href='/stylesheets/style.css' />
</body>

</html>