<!DOCTYPE html>
<html>
<head>
    <title>Add Playlist</title>
</head>
<body>
<h1>Add New Playlist</h1>
<form action="/playlist/insert" method="get">

   <span style="font-weight:bold"> Name:  </span><br /><input name="name" type="text" />
    <br />
    <br />
    <span style="font-weight:bold"> Songs </span>
    <br /> <br />
    <% for(var i=0; playlist_result.length > i; i++ ) { %>
    <input type="checkbox" name="song_id" value="<%= playlist_result[i].song_id %>"> <%= playlist_result[i].title + ' <> ' + playlist_result[i].artist + ' <> ' + playlist_result[i].album%>
    <br />
    <% } %>

    <br /> <br />
    <input type="submit" />

</form>
<br/><br/><a href="/playlist/all">Return to All Playlists</a>
<link rel='stylesheet' href='/stylesheets/style.css' />
</body>
</html>