<!DOCTYPE html>
<html>
<head>
    <title>Add Playlist</title>
</head>
<body>
<h1>Add New Playlist</h1>
<form action="/playlist/insert" method="get">

    <span style="font-weight:bold"> User </span><br />

    <select name= 'user_name'>
        <% for(var i=0;  playlist_result.length > i; i++ ) {
        %>
        <option value="<%= playlist_result[i].user_name%>"> <%= playlist_result[i].user_name%>

            <% } %>
    </select>
    <br /><br />
    <span style="font-weight:bold"> Name:  </span><br /><input name="name" type="text" />
    <br />
    <br />
    <span style="font-weight:bold"> Songs </span>
    <br /> <br />
    <% for(var j=0; playlist_result.length > j; j++ ) { %>
    <input type="checkbox" name="song_id" value="<%= playlist_result[j].song_id %>"> <%= playlist_result[j].title + ' <> ' + playlist_result[j].artist + ' <> ' + playlist_result[j].album%>
    <br />
    <% } %>

    <br /> <br />
    <input type="submit" />

</form>
<br/><br/><a href="/playlist/all">Return to All Playlists</a>
<link rel='stylesheet' href='/stylesheets/style.css' />
</body>
</html>