<!DOCTYPE html>
<html>
<head>
    <title> View all Playlists</title>

</head>
<body>
<h1>All Playlists</h1>
<br/><a href="/playlist/alt">Expanded View</a>
<br/>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
       <!-- <th>Actions</th>-->
    </tr>
    <% for(var i = 0; i <playlists.length;i++){%>
    <tr>
        <td align = 'center'><%= playlists[i].playlist_id %></td>
        <td ><%= playlists[i].name %></td>
        <td align = 'center'><%= playlists[i].user_name %></td>
        <!--<td align = 'center'>
            <a href='/playlist/edit/?playlist_id= playlists[i].playlist_id'>
                Edit

        </td></a>-->
    </tr>
    <% } %>
</table>
<a href="/playlist/add">Add New Playlist</a><br/><br/>
<br/><a href="/">Return to Homepage</a>
<link rel='stylesheet' href='/stylesheets/style.css' />
</body>

</html>