<!DOCTYPE html>
<html>
<head>
    <title> Query using GROUP BY</title>

</head>
<body>
<h1>Query using GROUP BY</h1>
This query returns the first song of each album, which includes all singles.
<br/><br/><br/>
<span style="font-weight:bold">MYSQL:</span><br/>
SELECT s.title,s.album FROM song s
WHERE track_number='1'<br/>
GROUP BY s.title
ORDER BY s.album;<br/><br/>
<table border="1">
    <tr>
        <th>Song Title</th>
        <th>Album</th>
    </tr>
    <% for(var i = 0; i <query.length;i++){%>
    <tr>
        <td ><%= query[i].title %></td>
        <td ><%= query[i].album %></td>
    </tr>
    <% } %>
</table>
<br/><a href="/">Return to Homepage</a>
<link rel='stylesheet' href='/stylesheets/style.css' />
</body>

</html>