<!DOCTYPE html>
<html>
<head>
    <title> Query using UNION ALL</title>

</head>
<body>
<h1>Query using UNION ALL</h1>
This query returns all the playlist IDs within playlist_song and playlist and doesn't have much real purpose.
<br/><br/><br/>
<span style="font-weight:bold">MYSQL:</span><br/>
SELECT playlist_id FROM playlist
UNION ALL
SELECT playlist_id FROM playlist_song;<br/><br/>
<table border="1">
    <tr>
        <th>Playlist_id</th>
    </tr>
    <% for(var i = 0; i <query.length;i++){%>
    <tr>
        <td ><%= query[i].playlist_id %></td>
    </tr>
    <% } %>
</table>
<br/><a href="/">Return to Homepage</a>
<link rel='stylesheet' href='/stylesheets/style.css' />
</body>

</html>