<!DOCTYPE html>
<html>
<head>
    <title> Correlated Subquery</title>

</head>
<body>
<h1>Correlated Subquery</h1>
This query returns playlists that have more than one song.<br/><br/><br/>

<span style="font-weight:bold">MYSQL:</span><br/>
SELECT name
FROM playlist p
WHERE 1 < (SELECT COUNT(song_id) <br/>FROM playlist_song WHERE playlist_id = p.playlist_id);<br/><br/>
<table border="1">
    <tr>
        <th>Playlist Name</th>
    </tr>
    <% for(var i = 0; i <query.length;i++){%>
    <tr>
        <td ><%= query[i].name %></td>
    </tr>
    <% } %>
</table>
<br/><a href="/">Return to Homepage</a>
<link rel='stylesheet' href='/stylesheets/style.css' />
</body>

</html>